    <div class="jumbotron">
      <div class="container">
        <div class="header">
          <div class="row">
          	<!--
            <div class="col-md-2">
              <a href="#">
                <img src="http://s3.amazonaws.com/codecademy-content/projects/bolt-network/logo.svg" width="180" height="34">
              </a>
            </div>
            
            <div class="pull-right">
              <ul>
                <li>Log in</li>
                <li>
                  <a href="#" class="btn btn-default">Sign up</a>
                </li>
              </ul>
            </div>
        -->
          </div>
        </div>

        <div class="main">
          <h1>About Udeal</h1>
          <p>Udeal is for Binghamton University students!</p>
          <p>Udeal은 빙햄튼 학생에게 제공됩니다!</p>
          <a target="_blank" href="https://www.facebook.com/seong.e.kim.3"><p>by Seong Eun Kim</p></a>
        </div>
      </div>
    </div>